# Visual Studio files
.vs/
bin/
obj/
Debug/
Release/
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlh
*.tli
*.log
*.chk
*.bak
*.cache
*.ilk
*.meta
*.obj
*.dll

# NuGet packages
packages/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
# .vscode is used by Visual Studio Code
.vscode/
bin/
obj/
*.sln.ide
*.suo
*.userprefs
